<!DOCTYPE html>
<head>

</head>
<html>
    <div>
        <form method="post">
            {% csrf_token %}
<div>
<label for="matricule">matricule vehicles</label>
    <input type="text" id="matricule" name="matricule">
</div>
           
            <div>
                <label for="module">modules</label>

                <select name="module" id="module">
                    {% for i in modules %}
                    <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="col">couleur</label>
                <input type="text" id="col" name="couleur">
            </div>
            <button type="submit" name="addcar" >hello
        </form>
    </div>
</html>